@using GoogleMap.Models
@model GoogleMap.Models.Marker
@{
    Layout = null;
}

@using (Html.BeginForm("UploadPicture", "Marker", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    
    @Html.LabelFor(model => model.Name, "Tên hình ảnh")
    <p>
        <input type="text" style="width: 300px;" name="txtName" />
        <br />
        <input type="file" name="file" />
        <br />
        <input type="submit" value="Upload" />
    </p>
}

<table style="width: 100%; border: 0">
    @foreach (var item in new GoogleMapEntities().Pictures.Where(x => x.MarkerId == Model.Id))
    {
        <tr>

            <td style="width: 1%">
                <img src="@Url.Content("~/" + item.ImageUrl)" style="" width="120" alt=""/>
            </td>
            <td style="width: 400px; vertical-align: top; overflow: hidden">
                @item.Name
            </td>

        </tr>
        <tr>
            <td colspan="2">

                <hr />
            </td>
        </tr>
    }
</table>
